@import "./_mixin/_flex.scss";
@import "./_variables/_variables.scss";

.change-password-index{
    section.change-pass{
        @include flex(center,center);
        height: calc(100% - #{$navHeight});
    }
    

    form{
        padding: 30px;
        border:2px solid $blackRedOpacity;        
        box-shadow: $formShadow;
        background-color: #f16d69;
    }
}