<div class="modal fade" tabindex="-1" role="dialog" id="modal-delete-{{target}}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if isLeader %}
        <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading"><i class="fas fa-exclamation-triangle"></i> Attention</h4>
        <p>Vous êtes en train de supprimer un chef d'équipe, avant d'effectuer cette action, 
        assurez-vous d'avoir bien assigné <strong>le reste de son équipe</strong> à un autre leader</p>
        </div>
        {% else %}
          <p>Êtes-vous sûr de vouloir supprimer {{name}} ?</p>
        {% endif %}
      </div>
      <div class="modal-footer">
      {% if isLeader %}
        Validez-vous la suppression ?
      {% endif %}
        <a href="{{path(route, {'id': target})}}" class="btn btn-primary">Oui</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
      </div>
    </div>
  </div>
</div>