{% extends 'base.html.twig' %}

{% block title %}Modification mdp{% endblock %}
{% block classBody %}class="change-password-index"{% endblock %}

{% block body %}
{% include '_component/_nav.html.twig' %}
{% include '_component/_modal_logout.html.twig' %}

    <section class="change-pass">
    {{ form_start(form) }}
        <h1 class="text-center mb-3">Changer votre mot de passe</h1>
        {{ form_widget(form) }}
        <p class="text-center">
            <button class="btn btn-primary">Enregistrer votre nouveau mot de passe</button>
        </p>

    {{ form_end(form) }}
    </section>

{% endblock %}
