{% extends 'base.html.twig' %}

{% block title %}Mes missions{% endblock %}
{% block classBody %}class="missions-index"{% endblock %}

{% block body %}
{% include '_component/_nav.html.twig' %}
{% include '_component/_modal_logout.html.twig' %}

<main>
    {% if not user.missions %}
        <h1>Patience, vous allez bientôt recevoir vos premières missions</h1>
    {% endif %}
    {% set missionNotValidate = 0 %}
    {% set missionValidate = 0 %}
    <section class="d-flex flex-wrap justify-content-around">
        {% for mission in user.missions %}
        
        {% if not mission.isValidate %}
            <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <p class="card-text">{{mission.content|raw}}</p>
                <p class="text-center"><a href="{{path('validate_mission', {'id': mission.id})}}" class="btn btn-primary">Valider la mission</a></p>
            </div>
            </div>
        
            {% set missionNotValidate = missionNotValidate + 1 %}
        {% else %}
            {% set missionValidate = missionValidate + 1 %}
        {% endif %}
        
        {% endfor %}
    </section>

    {% if missionValidate == user.missions|length %}
        <h1>Bravo, vous avez terminé toutes vos missions pour aujourd'hui 🎉</h1>
    {% endif %}
    

</main>

{% endblock %}


